{% extends 'admin_info/layout/layout.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/vue-ctk-date-time-picker.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/vue2-editor.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/katex.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/monokai-sublime.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/css/quill.snow.css' %}"/>
    <link rel="stylesheet" href="{% static 'back/app-assets/css/quill.imageUploader.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'back/app-assets/css/main-editor.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'back/app-assets/vendors/css/ui/prism.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'back/app-assets/vendors/css/file-uploaders/dropzone.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'back/app-assets/css/plugins/file-uploaders/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/filepond.min.css' %}">
    <link rel="stylesheet" href="{% static 'back/app-assets/vendors/css/filepond-plugin-image-preview.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'back/app-assets/vendors/css/forms/select/select2.min.css' %}">
{% endblock %}

{% block body %}
    {#    {% if user|has_role:"admin_temp" %}#}
    {% include 'admin_info/inc/sidebar.html' %}
    {#    {% endif %}#}
    <!-- BEGIN: Content-->

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <h1 class="text-center mb-2">Update Vacancy</h1>
            <div class="content-body">
                <!-- app invoice View Page -->
                <form method="POST" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    <section class="invoice-edit-wrapper">
                        <div class="row">
                            <!-- invoice view page -->
                            <div class="col-xl-12 col-md-12 col-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Position</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-12 col-md-12">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input type="text" required
                                                                               class="form-control"
                                                                               v-model="job_title_uz"
                                                                               name="job_title"
                                                                               value="{{ vacancies.job_title }}"
                                                                               placeholder="Add Position">

                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Company</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-12 col-md-12">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input type="text" required
                                                                               class="form-control"
                                                                               v-model="company_uz"
                                                                               name="company"
                                                                               value="{{ vacancies.company }}"
                                                                               placeholder="Add Company">
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content main-editor">
                                    <div class="tab-pane active" id="uzbek" role="tabpanel"
                                         aria-labelledby="home-tab"
                                         aria-expanded="false">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title" style="text-transform: inherit;">
                                                    Description</h4>
                                            </div>

                                            <div class="card-content">
                                                <div class="card-body pb-0">
                                                    <div class="row invoice-info">
                                                        <div class="col-lg-12 col-md-12">
                                                                    <textarea rows="7" cols="30"
                                                                              class="form-control invoice-address form-group"
                                                                              name="description"
                                                                              required>{{ vacancies.description }}</textarea>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- invoice action  -->
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">Start
                                                            Time</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input type="time" required
                                                                               class="form-control"
                                                                               v-model="start_time_uz"
                                                                               name="start_time"
                                                                               value="{{ vacancies.start_time|time:'h:i' }}"
                                                                               placeholder="Add Start Time">

                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">End
                                                            time</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input type="time" required
                                                                               class="form-control"
                                                                               v-model="end_time_uz"
                                                                               name="end_time"
                                                                               value="{{ vacancies.end_time|time:'h:i' }}"
                                                                               placeholder="Add End Time">
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Image</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <fieldset class="invoice-address form-group">
                                                                       <label for="files" class="text-capitalize text-center" style="border: 1px solid rgb(0,207,221);font-size:1.1em;width:150px; color: rgb(0,207,221); padding: 7px;cursor: pointer; border-radius: 5px; background-color: white">{% if vacancies.image %}Change Image{% else %}Upload{% endif %}</label>
                                            <br><strong>Previous Path:</strong> {{ vacancies.image.url }}
                                            <input type="file" title=" " style="display: none;"
                                                   class="form-control" id="files"
                                                   v-model="image"
                                                   name="image" value="{{ vacancies.image.url }}"
                                                   placeholder="Add Image">
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">URL</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input type="text"
                                                                               class="form-control"
                                                                               v-model="url_uz"
                                                                               name="url"
                                                                               value="{% if vacancies.url %}{{ vacancies.url }}{% endif %}"
                                                                               placeholder="Add URL">
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Payment Type</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-8 col-md-8">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <select name="payment_type"
                                                                                class="form-control">
                                                                            {% for payment_type in f1 %}
                                                                                <option {% if payment_type.id == vacancies.payment_type.id %}selected{% endif %}
                                                                                        value="{{ payment_type.pk }}">{{ payment_type.payment_type }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Quantity</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-4 col-md-4">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input type="number" step="0.01" min="0"
                                                                               required
                                                                               class="form-control"
                                                                               v-model="quantity_uz"
                                                                               name="quantity"
                                                                               value="{{ vacancies.quantity }}"
                                                                               placeholder="0.0">
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Work Type</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <select name="work_type" class="form-control">
                                                                            {% for work_type in f2 %}
                                                                                <option {% if work_type.id == vacancies.work_type.id %}selected{% endif %}
                                                                                        value="{{ work_type.pk }}">{{ work_type.work_type }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Work Hour</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input class="form-control" type="number"
                                                                               name="work_hour" min="0"
                                                                               value="{{ vacancies.work_hour }}"
                                                                               placeholder="Add Work Hour">

                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Email Address</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input type="email" name="email"
                                                                               class="form-control"
                                                                               value="{{ vacancies.email }}"
                                                                               placeholder="Add Email">
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Phone</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-6 col-md-6">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input class="form-control" type="text"

                                                                               value="{{ vacancies.phone }}"
                                                                               name="phone">

                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="tab-content main-editor">
                                            <div class="tab-pane active" id="uzbek" role="tabpanel"
                                                 aria-labelledby="home-tab"
                                                 aria-expanded="false">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" style="text-transform: inherit;">
                                                            Location</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body pb-0 mx-25">
                                                            <div class="row invoice-info">
                                                                <div class="col-lg-12 col-md-12">
                                                                    <fieldset class="invoice-address form-group">
                                                                        <input class="form-control" type="text"
                                                                               name="location"
                                                                               value="{{ vacancies.location }}"
                                                                               placeholder="Add Location">
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <br>
                    </section>
                    <br>
                    <div class="invoice-action-btn mb-1">
                        <button type="submit" class="btn btn-primary btn-block invoice-send-btn">
                            <i class="bx bxs-save"></i>
                            <span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
{% endblock %}


{% block js %}
    <script src="{% static 'back/app-assets/vendors/js/filepond-plugin-image-preview.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/filepond.js' %}"></script>
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <script src="{% static 'back/app-assets/js/vue.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/vue-ctk-date-time-picker.umd.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/katex.min.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/highlight.min.js' %}"></script>
    <script src="{% static 'back/app-assets/vendors/js/quill.imageUploader.min.js' %}"></script>
    <!-- Quill JS Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.6/dist/vue-quill-editor.js"></script>
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">
    <script src="{% static 'back/app-assets/vendors/js/vue-filepond.min.js' %}"></script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'back/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
    <!-- END: Page Vendor JS-->
    <script src="{% static 'back/app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
{% endblock %}